Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
oauthlib
python-dateutil
pytz
requests
requests-oauthlib
six
sqlparse
tenacity
typing_extensions
tzdata
urllib3
gunicorn<4.4
whitenoise

